.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#btnReturn {
  color: white;
  background-color: blue;
}

#divReturn {
  padding: 24px;
}
