.formRegister {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.mat-toolbar {
  color: white;
  background-color: blue;
}

.divCentralize {
  height: calc(100% - var(--mat-toolbar-standard-height));
  margin: auto;
  width: 500px;
}

.formField {
  width: 100%;
}

td {
  padding-right: 8px;
}

.divButtons {
  display: flex;
  width: 160px;
  margin: auto;
}

#btnSave {
  color: white;
  background-color: blue;
  margin: auto;
}

#btnCancel {
  color: white;
  background-color: red;
  margin: auto;
}
