.divDialog {
  margin: 10px;
}

.divButtons {
  height: calc(100% - 35px);
  display: flex;
  align-items: flex-end;
}

#btnNo {
  color: white;
  background-color: blue;
  margin-right: 5px;
}

#btnYes {
  color: white;
  background-color: red;
}
