<mat-toolbar>
  <div class="divSpace">
    <span>Receitas</span>
    <button mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="redirectToCreateRecipe()">Criar Receita</button>
  </mat-menu>
</mat-toolbar>

<div class="divCentralize">
  <div layout="row" class="divLayout scrollbar-primary">
    <div *ngFor="let item of recipes">
      <mat-card class="cardRecipe scrollbar-primary">
        <div class="divLayoutCard">
          <mat-card-header>
            <mat-card-title>{{ item.name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="imgRecipe" src="{{ item.imageUrl }}" />
          <mat-card-content class="cardContent">
            <p><b>Ingredientes: </b>{{ item.ingredients }}</p>
            <p><b>Modo de Preparo: </b>{{ item.preparationMethod }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button id="btnEdit" (click)="updateRecipe(item._id)">Editar</button>
            <button mat-raised-button id="btnDelete" (click)="openDialog(item._id)">Deletar</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>
