<mat-toolbar>
  <span>Receitas</span>
</mat-toolbar>

<div *ngFor="let item of recipes">
  <mat-card class="cardRecipe">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ item.imageUrl }}" />
    <mat-card-content>
      <p>{{ item.ingredients }}</p>
      <p>{{ item.preparationMethod }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button id="btnEdit">Editar</button>
      <button mat-button id="btnDelete">Deletar</button>
    </mat-card-actions>
  </mat-card>
</div>
